<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Your App</title>
</head>
<body>
  <link type="text/css" rel="stylesheet/less" href="/umi.css">
  <div id="root"></div>
</body>
</html>